<div class="row">

    <div class="pull-right" ng-if="showCms">
        <div id="page_switcher" style="margin-right: 2.5em;">
            <div class="onoffswitch pull-right">
                <input type="checkbox" checked="checked" class="toggleBtn onoffswitch-checkbox" ng-click="switchPage()"  id="onoffswitch6" >
                <label for="onoffswitch6" class="onoffswitch-label">
                    <div class="onoffswitch-inner " style=""></div>
                    <div class="onoffswitch-switch" style="text-align: center;"><i class="fa fa-arrow-left"></i></div>
                </label>
            </div>

        </div>
    </div>
    <ul id="tabs" style="margin-left: 1em;margin-right: 1em;" >
         <li id="{{homeTabActiveClass[tab.value].active}}"  ng-repeat="tab in tabs track by $index" >
             <a  href="#/{{tab.value|lowercase}}" style="cursor: pointer;" id="id_{{tab.value|lowercase}}" >
                 <em>{{tab.value}}</em>
             </a>
         </li>
        <li></li>
    </ul>
    <p ng-if="tabs==false"><br/></p>
    <div class="alert alert-warning" ng-if="tabs==false" style="font-weight: bold">
        Something went wrong, check network connection!
    </div>
</div>